/* Сброс стандартных браузерных стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg1:rgb(240, 225, 225);
  --bg2:#ebb6b6;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 10px 10px 80px 10px;
  backdrop-filter: blur(9px);
  color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

.handwriting {
    font-family: 'Times New Roman', serif; /* Классический шрифт с засечками для имитации ручки */
    font-style: italic; /* Курсив для большей "рукописности" */
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
  }
 
header{
  display: flex;
  height: 98px;
  justify-content:space-between;
  align-items:center;
  padding:22px 30px;
}

.header{
    background-color: var(--bg1);
    border-radius: 5px;
}

header .logo{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:20px;
  font-weight:95%;
  text-decoration: underline dotted;
}

.logo img{
    border-radius:50%;
    height: 30px;
    width: 30px;
}

.header nav a{
  margin-left:24px;
  color:#ebb6b6;
  text-decoration:none;
  font-size:16px;
  color:black;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f1d2d2;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background-color: #e07777;
}
.history{
  display: flex;
  margin: 80px 40px 20px 20px;
}

.history img{
  height: 40%;
  width:40%;
  margin-left: 20px;

}

.text-history {
  margin-left: 60px;
  margin-right: 70px;
}

.text-history h2{
  font-size: 3.5em;
  margin-bottom: 15px;
  letter-spacing: 0.02em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  text-decoration: none;
  text-decoration: underline dotted;
}

.text-histoty p {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   font-size: 1.5em;
   letter-spacing: 0.02em;
   margin-right: 80px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 119, 119);
    width: 100%;
    height: 70px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 7px;
}

.footer1{
    display:flex;
}

.rights {
    width: 22px;
    height: 22px;
    margin-right: 22px;
    margin-top: 2px;
    border-radius: 50%;
}

@media (max-width: 1700px) {

 .history{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
 }

 .history img{
    width: 50%;
    margin-bottom: 15px;
    margin-left: -150px;
  }

 .text-history {
  margin-left: 20px;
  margin-right: 20px;
 }

 .text-history h2{
   font-size: 2.0em;
   margin-bottom: 10px;
  }

 .text-histoty p {
    font-size: 1.0em;
    margin-right: 20px;
    margin-left: 40px;
  }

  footer {
    text-align: center;
    padding: 10px;
  }

  .footer {
    height: 40px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 11px;
    border-radius: 5px;
  }

  .rights {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 1px;
  }
 
}

@media (max-width: 800px) {

  .history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
  }

 .history img{
 height: 40%;
 width:40%;

 }

 .text-history {
  margin-left: 10px;
  margin-right: 10px;
 }

 .text-history h2{
   font-size: 1.0em;
   margin-bottom: 10px;
  }

 .text-histoty p {
    font-size: 1.0em;
    margin-right: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 119, 119);
    width: 100%;
    height: 35px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 10px;
    border-radius: 5px;
  }

  .rights {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-top: 1px;
  }
 
}

 
